// Place all the styles related to the swelly controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-top {
	margin-top: 40px;
}

.text-center {
	text-align: center;
}

#header-logo {
	padding-top: 150px;
	text-align: center;
	position: relative;
	width: 693px;
	margin: auto;

	.spark-top {
		position: absolute;
		top: 95px;
		left: 40px;
		visibility: hidden;
	}

	.spark-corner {
		position: absolute;
		right: -78px;
		top: 127px;
		visibility: hidden;
	}

	.chiddy {
		width: 390px;
		float: left;
		visibility: hidden;
	}

	.bang {
		width: 303px;
		visibility: hidden;
	}

	.subheading {
		position: relative;
		top: -78px;
		right: -21px;
		width: 570px;
		visibility: hidden;
	}
}

#act-one {
	visibility: hidden;
	padding-bottom: 120px;

	p {
		color: #fff;
		font-size: 24px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	h2 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	i {
		font-size: 48px;
		color: #FAB608;
	}
}

#act-two {
	visibility: hidden;
	padding-bottom: 120px;

	h2 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	i {
		font-size: 48px;
		color: #FAB608;
	}
}

#act-three {
	visibility: hidden;
	padding-bottom: 220px;
}

.triangle {
	width: 633px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	transition: all .25s ease-in-out;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;

	.eng {
		width: 309px;
		position: absolute;
		left: 182px;
		top: 0;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.ent {
		position: absolute;
		margin-top: -55px;
		float: right;
		top: 363px;
		left: 350px;
		width: 316px;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.des {
		position: absolute;
		margin-top: -55px;	
		left: 0;
		top: 363px;
		width: 317px;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.clicked {
		left: -15%;
		top: 80px;
	}

	.eng_clicked_des {
		display: none;
	}
	.eng_clicked_ent {
		display: none;
	}

	.ent_clicked_eng {
		display: none;
	}
	.ent_clicked_des {
		display: none;
	}	

	.des_clicked_ent {
		display: none;
	}
	.des_clicked_eng {
		display: none;
	}
}

.opacity {
	opacity: 1 !important;
}

.eng-desc, .des-desc, .ent-desc {
	position: absolute;
	top: 80px;
	left: 50%;
	opacity: 0;
	transition: all .15s ease-in-out;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;

	h2 {
		font-family: 'Open Sans Condensed', sans-serif;
		color: #fff;
		text-align: left;
		font-size: 64px;
	}

	p {
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		color: #ccc;
		text-align: left;
		font-size: 20px;
		line-height: 30px;
	}
}

.rotate {
	-ms-transform: rotate(-120deg); /* IE 9 */
    -webkit-transform: rotate(-120deg); /* Chrome, Safari, Opera */
    -o-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    transform: rotate(-120deg);
}