// Place all the styles related to the swelly controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-top {
	margin-top: 40px;
}

.text-center {
	text-align: center;
}

#header-logo {
	padding-top: 150px;
	text-align: center;
	position: relative;
	width: 693px;
	margin: auto;

	.spark-top {
		position: absolute;
		top: 95px;
		left: 40px;
		visibility: hidden;
	}

	.spark-corner {
		position: absolute;
		right: -78px;
		top: 127px;
		visibility: hidden;
	}

	.chiddy {
		width: 390px;
		float: left;
		visibility: hidden;
	}

	.bang {
		width: 303px;
		visibility: hidden;
	}

	.subheading {
		position: relative;
		top: -78px;
		right: -21px;
		width: 570px;
		visibility: hidden;
	}
}

#act-one {
	visibility: hidden;
	padding-bottom: 120px;

	p {
		color: #fff;
		font-size: 24px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}

	h2 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	i {
		font-size: 48px;
		color: #FAB608;
	}
}

#act-two {
	visibility: hidden;
	padding-bottom: 120px;

	h2 {
		color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	i {
		font-size: 48px;
		color: #FAB608;
	}
}

#act-three {
	visibility: hidden;
	padding-bottom: 120px;
}

.triangle {
	width: 633px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;

	.eng {
		width: 309px;
		position: relative;
		left: 0;
		right: 0;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.ent {
		position: relative;
		margin-top: -85px;
		float: right;
		left: 0;
		right: 0;
		width: 316px;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.des {
		position: relative;
		margin-top: -85px;
		float: left;
		left: 0;
		right: 0;
		width: 317px;
		cursor: pointer;
		transition: all .25s ease-in-out;
		-webkit-transition: all .25s ease-in-out;
		-moz-transition: all .25s ease-in-out;
		-o-transition: all .25s ease-in-out;
	}

	.eng_clicked {
		margin-top: 200px;
		opacity: .25;
	}

	.ent_clicked {
		left: -200px;
		opacity: .25;
	}	

	.des_clicked {
		left: 200px;
		opacity: .25;
	}
}