<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="header-logo">
				<img class="spark-top" id="spark" src="/assets/spark_top.png" />
				<img class="spark-corner" id="spark-corner" src="/assets/spark_corner.png" />
				<img class="chiddy" src="/assets/header_logo_chiddy.png" />
				<img class="bang" src="/assets/header_logo_bang.png" />
				<img class="subheading" src="/assets/header_subheading.png" />
			</div>
		</div>
	</div>
	<div id="act-one" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_one_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>	
		</div>
		<div class="col-sm-12">
			<h1> Current Web Site </h1>
			<div class="col-sm-6 col-sm-offset-1">
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Forgotten Since 2012
				</h2>
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Wack Style, No Swag
				</h2>
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Look Ma, Broken Links
				</h2>
			</div>
			<div class="col-sm-5 gif text-center">
				<img src="http://www.reactiongifs.com/wp-content/uploads/2011/12/Gladiator_Thumb_Down_01.gif" />
				<h2> Do Not Like </h2>
			</div>
		</div>
	</div>
	<div id="act-two" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_two_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>	
		</div>
		<div class="col-sm-12">
			<h1> Brand Impact with a Bang </h1>
			<div class="col-sm-6 col-sm-offset-1">
				<h2>
					<i class="fa fa-cloud-upload"></i>
					Revitalize Old Fans, Grab New Ones
				</h2>
				<h2>
					<i class="fa fa-dot-circle-o"></i>
					Web Presence Overhaul
				</h2>
				<h2>
					<i class="fa fa-eur"></i>
					Cash Money
				</h2>
			</div>
			<div class="col-sm-5">
				<img style="width: 100%;" src="/assets/gold_coins.png">
			</div>
		</div>
	</div>
	<div id="act-three" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_three_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>		
		</div>
		<div class="col-sm-12">
			<div class="triangle margin-top">
				<div class="eng-desc">
					<h2>ENGINEERING</h2>
					<p>Engineering is crucial etc etc<br>build in modern digital</p>
				</div>
				<div class="des-desc">
					<h2>Design</h2>
					<p>State of the art design<br>Super creative, seriously</p>
				</div>
				<div class="ent-desc">
					<h2>Entrepreneurship</h2>
					<p>Building a biz</p>
				</div>
				<img class="eng" src="/assets/triangle_eng.png" />
				<img class="ent" src="/assets/triangle_ent.png" />
				<img class="des" src="/assets/triangle_des.png" />
				<div class="clear"></div>
			</div>

		</div>
	</div>
</div>