<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="header-logo">
				<img class="spark-top" id="spark" src="/assets/spark_top.png" />
				<img class="spark-corner" id="spark-corner" src="/assets/spark_corner.png" />
				<img class="chiddy" src="/assets/header_logo_chiddy.png" />
				<img class="bang" src="/assets/header_logo_bang.png" />
				<img class="subheading" src="/assets/header_subheading.png" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<img src="/assets/section_headings_one.png" />		
		</div>
		<div class="col-sm-12">
			<p> content<br><br>content<br><br>content<br><br>content<br><br>content<br><br>content<br><br></p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<img src="/assets/section_headings_two.png" />>		
		</div>
		<div class="col-sm-8">
			<p> content<br><br>content<br><br>content<br><br>content<br><br>content<br><br>content<br><br></p>
		</div>
		<div class="col-sm-4">
			<img style="width: 100%;" src="/assets/gold_coins.png">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<img src="/assets/section_headings_three.png" />		
		</div>
		<div class="col-sm-12">
			<div class="triangle margin-top">
				<div class="row">
					<img class="eng" src="/assets/triangle_eng.png" />
				</div>
				<img class="ent" src="/assets/triangle_ent.png" />
				<img class="des" src="/assets/triangle_des.png" />
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>