<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div id="header-logo">
				<img class="spark-top" id="spark" src="/assets/spark_top.png" />
				<img class="spark-corner" id="spark-corner" src="/assets/spark_corner.png" />
				<img class="chiddy" src="/assets/header_logo_chiddy.png" />
				<img class="bang" src="/assets/header_logo_bang.png" />
				<img class="subheading" src="/assets/header_subheading.png" />
			</div>
		</div>
	</div>
	<div id="act-one" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_one_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>	
		</div>
		<div class="col-sm-12">
			<h1> Current Web Site </h1>
			<div class="col-sm-6 col-sm-offset-1">
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Forgotten Since 2012
				</h2>
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Wack Style, No Swag
				</h2>
				<h2>
					<i class="fa fa-thumbs-down"></i>
					Look Ma, Broken Links
				</h2>
			</div>
			<div class="col-sm-5 gif text-center">
				<img src="http://media1.giphy.com/media/iJxHzcuNcCJXi/giphy.gif" />
				<h2> Do Not Like </h2>
			</div>
		</div>
	</div>
	<div id="act-two" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_two_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>	
		</div>
		<div class="col-sm-12">
			<h1> Brand Impact with a Bang </h1>
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<h2>
					<span style="color: #FAB608">3...</span>&ensp;Take Web Site from Disaster &nbsp;<i class="fa fa-long-arrow-right"></i>&nbsp; Digital Masterpiece
				</h2>
				<h2>
					<span style="color: #FAB608">2...</span>&ensp;Revitalize Old Fans, Convert New Ones
				</h2>
				<h2>
					<span style="color: #FAB608">1...</span>&ensp;Chiddy Bang Content Epicenter
				</h2>
				<div class="boom">
					<img class="boom-text" src="/assets/boom_text.png" />
					<img class="boom-inner" src="/assets/boom_inner.png" />
					<img class="boom-outer" src="/assets/boom_outer.png" />
				</div>
			</div>
		</div>
	</div>
	<div id="act-three" class="row">
		<div class="col-sm-12 section-heading">
			<img class="title" src="/assets/act_three_heading.png" />
			<div class="line">
				<img class="cap" src="/assets/act_line_cap.png" />
			</div>		
		</div>
		<div class="col-sm-12">
			<h1> Our Services </h1>
			<div class="eng-desc">
				<h2>Engineering</h2>
				<ul>
					<li>We make state of the art digital products</li>
					<li>Comprehensive, complete solutions with an absurd attention to detail</li>
					<li>Responsive, adaptable, & mobile friendly</li>
				</ul>
				<p>“Bryan was very professional, and I appreciated his open communication throughout the course of the project. He was very receptive to feedback, and using my vague guidelines was able to create a very cool concept and execute it perfectly. I'll definitely be hiring him again!”<br><br><span class="credit">- Pia Adolphson, CI Radar Competitive Intelligence</span></p>
			</div>
			<div class="des-desc">
				<h2>Design</h2>
				<ul>	
					<li>Original & impactful design generated in-house</li>
					<li>Iterative design process with significant client input</li>
					<li>End to end product design from digital to print</li>
				</ul>
				<p>“Very high quality work done in a very short period of time. I look forward to finding another opportunity to work together.”<br><br><span class="credit">- Sean Jacobsohn, Emergence Capital Partners</span></p>
			</div>
			<div class="ent-desc">
				<h2>Process</h2>
				<ul>
					<li>To generate industry-defining results, we focus to fundamentally understand the problems facing our clients</li>
					<li>Our goal is to build fruitful relationships through our service offerings</li>
					<li>Each solution is entirely unique, reflecting the uniqueness of each challenge</li>
				</ul>
				<p>“Fast, Reliable, Creative...Responsive. I will continue using Bryan and suggest him to any friend and colleague in search of a good designer and visionary.”<br><br><span class="credit">- George Gutierrez, Solar USA</span></p>
			</div>
			<div class="triangle margin-top">
				<img class="eng" src="/assets/triangle_eng.png" />
				<img class="ent" src="/assets/triangle_ent.png" />
				<img class="des" src="/assets/triangle_des.png" />
				<div class="clear"></div>
			</div>

		</div>
	</div>
	<div id="credits" class="row">
		<div class="sol-sm-12 text-center">
			<a target="_blank" href="http://www.responsive.co" class="responsive"><img src="/assets/responsively_made.png" /></a>
			<p>
				<a target="_blank" href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57">LinkedIn</a>
				<a target="_blank" href="http://www.knou.se/documents/resume">Resume</a>
				<a href="mailto:bryan.knouse@gmail.com">bryan.knouse@gmail.com</a>
			</p>
		</div>
	</div>
</div>